
# IDEs and editors
/.idea
.idea
*.iml
*.ipr
*.iws
.project
.classpath
*.launch
.settings/
.vscode/
.checkstyle
.pmd
.pmdruleset.xml
.factorypath
.sts4-cache/

# System Files
.DS_Store
Thumbs.db
.directory
